.bg-image {
  background: url(../images/Olay.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  opacity: ima 0.6;
}
.subscribe_area_text h2 {
  color: #464545;
}
.marge {
  width: 100%;
  margin-left: 45%;
}
@media only screen and (max-width: 992px) {
  .marge {
    margin-left: 0%;
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 767px) {
  .bg-image {
    background: url(../images/OlayRe.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
  .marge {
    margin-left: 0%;
    margin-top: 13rem;
  }
}
