html {
  scroll-behavior: smooth;
}
.bg-stacky {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 992px) {
  .bg-stacky {
    width: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
  }
}
