.breadcrumb_bg {
  background-image: none;
  background-position: none;
  background-repeat: no-repeat;
  background-size: cover;
}
.breadcrumb .breadcrumb_iner {
  height: 100px;
  width: 100%;
  display: table;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p {
  margin-top: 50px;
  font-size: 15px;
  color: #777777;
}

.section_padding {
  padding: 0px 0px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .section_padding {
    padding: 0px 0px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section_padding {
    padding: 0px 0px;
  }
}

@media (max-width: 576px) {
  .section_padding {
    padding: 0px 0px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section_padding {
    padding: 0px 0px;
  }
}

.breadcrumb {
  background-color: #fff;
}

/*  */

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.product-small-img {
  max-width: 100px;
  height: 400px;
  padding-right: 5px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.rapings {
  width: 100px;
}

/*  */

.container .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
}
.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img {
  pointer-events: none;
}
.product-small-img img {
  height: 92px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: 0.9;
  transition: 0.3s;
  scroll-behavior: smooth;
}
.product-small-img img:hover {
  opacity: 1;
}
.product-small-img img:first-child {
  margin-top: 0;
}
.product {
  display: flex;
  overflow: hidden;
  margin: 10px 10px;
}
.img-container {
  width: 500px;
  height: 450px;
  overflow: hidden;
}
.img-container img {
  height: 500px;
  border-radius: 3px;
  background-size: cover;
  background-position: center center;
}
.rapings i {
  margin-left: 22px;
  font-size: 18px;
  cursor: pointer;
}
.rapings i:hover,
.rapings i:active {
  color: #c03333;
}

.re-bg-color .nav-link:hover {
  background-color: hsl(344, 95%, 60%) !important;
  color: #fff !important;
}

.fo-bg-color {
  background: #000000;
  color: #fff;
}
.single_footer_part h4 {
  color: #fff;
}

.container_inear {
  margin-bottom: 420px;
  background: #fff;
}
.fixed-footer {
  width: 100%;
  height: 430px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -100;
}

@media only screen and (max-width: 992px) {
  .product {
    text-align: center;
  }
  .container_inear {
    margin-bottom: 0px;
    background: none;
  }
  .rapings i {
    margin-left: 0px;
  }
  .fixed-footer {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    bottom: 0;
    z-index: none;
  }
}
@media only screen and (min-width: 992px) {
  .breadcrumb .breadcrumb_iner .breadcrumb_iner_item p {
    margin-top: 52px;
    font-size: 15px;
    color: #777777;
  }
  .product {
    margin-left: -10px;
  }
}
@media only screen and (min-width: 1200px) {
  .product {
    margin-left: -66px;
  }
}
@media only screen and (max-width: 560px) {
  .product-small-img {
    max-width: 100px;
    height: 350px;
  }
  .product-small-img img {
    height: 90px;
  }
  .rapings i {
    margin-left: 0px;
  }
  .img-container {
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  .img-container img {
    height: 400px;
  }
}
@media only screen and (max-width: 440px) {
  .product-small-img {
    max-width: 100px;
    height: 300px;
  }
  .product-small-img img {
    height: 80px;
  }
  .rapings i {
    margin-left: 0px;
  }
  .img-container {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
  .img-container img {
    height: 350px;
  }
}
